
.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 60%, rgba(9,9,121,1) 89%); 
  }
  
  .text{
    color: black;
  }
  .text2{
    color: black;
  }
  .text2:hover{
    color: rgb(6, 6, 7);
  }